body{
    background-color: rgb(14, 10, 10);
}

#myCanvas{
    /* background-color: rgb(40, 43, 44); */
    margin: 60px 0px 0px 485px;
}

.Game{
    position: absolute;
    text-align: center;
    align-items: center;
    color: rgb(250, 250, 253);
    font-size: 35px;
    /* bottom: -14%; */
    left: 45%;
    top: 90%;
    border-radius: 4px;
    background:none;
    box-shadow:0px 2px 2px rgb(102, 98, 98);
    padding: 10px;
}